
<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h3>Green Peace Quiz Application</h3>

        </div>
        
    </div>
    <hr />
</div>
<div id="quiz">
    <div class="row">
        <div class="col-md-12"><h1 class="center">{{quiz.name}}</h1><hr />
            <h5 class="center">{{quiz.description}}</h5>
        </div>
    </div>
    <hr />
    <div class="quizNav" ng-hide="mode=='result'">

        <div>
            <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(1);">First Question</button>
            <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Previous Question</button>
            <button class="btn btn-primary" ng-click="goTo(currentPage + 1);">Next Question</button>
            <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(totalItems);">Last Question</button>
        </div>
        <br />
        <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        <hr />
    </div>
    
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Questions {{currentPage}} of {{totalItems}}.</div>
            <div class="row">
                <div class="col-md-12">
                    <h2>{{currentPage}}. <span ng-bind-html="question.Name"></span></h2>
                    <h5>{{question.QuestionType.Name}}</h5>
                </div>
            </div>
            <div class="row text-left options">
                <div class="col-md-4" ng-repeat="option in question.Options">
                    <div class="option">

                        <label class="" for="{{option.Id}}">
                           
                            <img ng-src="{{option.ImageUrl}}" ng-show="{{option.IsImage}}"></img>
                            <div>
                                <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                                {{option.Name}}
                            </div>
                        </label>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(1);">First Question</button>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Previous Question</button>
                <button class="btn btn-primary"                            ng-click="goTo(currentPage + 1);">Next Question</button>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(totalItems);">Last Question</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="row review" ng-show="mode=='review'">
        <div class="col-sm-4" ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h4>Most Answered Category: {{mostansweredcatg}}</h4>
        <h5>Answers count: {{mostansweredcatgcount}}</h5>
        <hr />
        <h2>Quiz Result</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h4>{{$index + 1}}. {{question.Name}}</h4>
                <div class="row">
                    <div class="col-md-6" ng-repeat="Option in question.Options">
                        <div>
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </div>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
            </div>
        </div>
                     
                
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
        
    <hr />
    <div class="" ng-show="mode!='result'" style="text-align: -webkit-center;">
        <button class="btn btn-default" ng-click="mode = 'quiz'">Quiz</button> 
        <button class="btn btn-default" ng-click="mode = 'review'">Review</button> 
        <button class="btn btn-success" ng-click="onSubmit();">Submit Quiz</button>
    </div>
    <p>&nbsp;</p>
</div>